*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 20px;
    background-color: blueviolet;
    color: yellow;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin-left:20px;
}
.menu a{
    text-decoration: none;
    color:white;
    transition: colors 0.3s;
}
Menu a:hover:{
    color:orangered;
}

