*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(52, 152, 219, 0.1);
    padding-left: 3px;
    padding-right: 3px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:rgba(52, 152, 219, 1);
    font-size:60px;}
/*navbar*/
.navbar{
    background-color: rgba(52, 152, 219, 1);
    color:white;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.logo{
    font-size: 20px;
    font-weight:bold;
}
.menu{
list-style: none;
display:flex;   
}
.menu li{
    margin-left:20px;
}
.menu a{
    color:white;
    text-decoration: none;
    transition:color 0.3s;
}
.menu a:hover{
    color: #ff9800;
}
/*icone menu cachée sur grand écran*/
.Menu-icon{
display: none;
font-size: 24px;
cursor:pointer;;   
}
#menu-toggle{
    display: none;
}
/*responsive*/
@media (max-width:768px){
    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
        background:rgba(52, 152, 219, 1) ;
        padding:10px 0;
    }
    .menu li{
        margin: 10px 0;
        text-align: center;
    }
    /*icone menu visible*/
    .Menu-icon{
        display: block;
    }
    
  /* Affiche le menu si checkbox cochée */
  #menu-toggle:checked + .Menu-icon + .menu{
    display: flex;
  }
    }
            